body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
}
.calc{
    background-color: #3a3939;
    padding: 20px;
    color: white;
    border-radius: 30px;
    margin: 20px;
    transition: ease-out .3s;
}
.calc:hover{
    scale: 1.05;
    background: url(Change\ PNG\ Opacity\ \(2\).png);
    color: #000000;
    font-size: larger;
    font-weight: ;
} 

.calculator {
    background-color: #373737;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 90%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    border: none;
    background-color: #8585bc;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #014388;
}
